/* GENERAL */
.navContainer{
    background-color: #000;
}

/* MOVIL */
@media only screen and (max-width: 700px) {
    .navContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 3rem 0 0 1rem;
        width: 70%;
        height: 100vh;
        position: absolute;
        left: -100%;
        top: 0;
        z-index: 100;
    }

    .navBtn{
        background: rgb(255, 255, 255, .5);
        padding: 1rem;
        width: 100%;
        margin: 1rem 0;
        border-radius: 10px 20px;
    }

    /* ANIMACION CLOSE OPEN MENU CONTAINER */
    .open{
        left: 0;
        transition: left .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .close{
        transition: left .5s ease-out;
    }


    /* button */
    .buttonMovil{
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        height: 2.5rem;
        width: 2.5rem;
        background-color: black;
        position: absolute;
        z-index: 110;
        padding: .3rem;
        top: 0;
        left: 0;
    }
    .line{
        height: .3rem;
        width: 2.5rem;
        background: rgb(255, 255, 255, .5);
        border-radius: 10px;
        transition: all .4s ease-out;
    }

    /* ANIMACION OPEN CLOSE MENU */
    .equis > .line{
        position: absolute;
        transition: all .4s ease-out;
    }
    .equis > .line:nth-child(1){
        rotate: 45deg;
        transition: all .4s ease-out;
    }
    .equis > .line:nth-child(2){
        rotate: -45deg;
        transition: all .4s ease-out;
    }
    .equis > .line:last-child {
        visibility: hidden;
        transition: all .1s ease-out;
    }
}


/* DESKTOP */

@media only screen and (min-width: 700px) {
    .navContainer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 1rem;
        position: relative;
    }
    .navBtn{
        position: relative;   
    }
    .navBtn::before{
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .navText{
        padding: 0;
        margin: 0;
        margin-bottom: .5rem;
    }
    .navText::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 3px;
        height: 3px;
        background-color: #8a2be2;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        border-radius: 50%;
    }
    .navText:hover::before{
        width: 100%;
        border-radius: 0;
    }
    .navLinkActive:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 100%;
        height: 3px;
        background-color: #8a2be2;
        transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}

