@import url('./Normalize.css');
@import url('./NavigationBar.css');
@import url('./About.css');

/* GLOBALS */
*,html, body{
    font-family: 'Roboto', sans-serif;
    color: #000;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* ETIQUETAS GLOBALES */
a{
    text-decoration: none;
    text-transform: uppercase;
}